# Project exclude paths
/node_modules/
/dist/
.env
src/app.js
src/auth.js
src/context.js
src/source_api.js
src/job/job.resolvers.js
src/job/job.schema.js
src/talent/talent.resolvers.js
src/talent/talent.schema.js
src/youmeco/youmeco_talent.resolvers.js
src/youmeco/youmeco_talent.schema.js
